
# Frontend / Netlify Functions
BACKEND_BASE_URL=http://127.0.0.1:8001
TOOL_TOKEN=9afk34xsd8v

# ElevenLabs (optional if you use /voice)
ELEVEN_API_KEY=71d03f1b01e3f999e3f8da9dbfd31105808ba59f608a908de31dfb2523757b85
ELEVEN_AGENT_ID=H8bdWZHK2OgZwTN7ponr

# Backend (FastAPI)
NEWS_API_KEY=7af2bc1a7fa0419997a18f1a54cbb273
YOUTUBE_API_KEY=AIzaSyAEcCSUQaDm4q74U4hCuMr_mVcTdItR8qc

OPENAI_API_KEY=7e689fa10eed4c7899e85ad84aca4494
TRANSLATE_MODEL=d79e4a58406e4305a098664ed9d42aff

# Crossmint Configuration
CROSSMINT_PROJECT_ID=32d47ec0-3de8-4d27-9b1d-3f0b53134d2b
CROSSMINT_CLIENT_SECRET=sk_production_5djjWY6gApbm1bF9y9EyAsEnySDyqrxgjmZeh2oYKe32sTuxoKpLxafdu2eJUrU2TCnsf6F4CS4DdeSabRNXXNipdbB4Jj9ZNiWDgBJ4Jr8xGHCn9EoArS46njqHivpbSDAZtZJR2FrrSVH3bCTUQof9Ng2hmL8jKBDAAgkjHqevyNDYcC5S9nNE4TW82axkUnqPtU2hnsVW8SFYjFfvzSo6
CROSSMINT_ENVIRONMENT=staging

# Mistral AI Configuration
MISTRAL_API_KEY=1ICn8Kurla8DcvfoQfA1QzeBZr6BZfix
MISTRAL_MODEL=mistral-large-latest
MISTRAL_CODESTRAL_MODEL=codestral-latest

# Mistral AI Public Key (for frontend direct calls)
NEXT_PUBLIC_MISTRAL_API_KEY=1ICn8Kurla8DcvfoQfA1QzeBZr6BZfix
